@font-face {
  font-family: "iconfont"; /* Project id 815448 */
  src: url('iconfont.woff2?t=1635229825354') format('woff2'),
       url('iconfont.woff?t=1635229825354') format('woff'),
       url('iconfont.ttf?t=1635229825354') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiahao1:before {
  content: "\e727";
}

.icon-jian:before {
  content: "\e620";
}

.icon-yu:before {
  content: "\e63b";
}

.icon-dayu:before {
  content: "\e631";
}

.icon-wu:before {
  content: "\e601";
}

.icon-xue:before {
  content: "\e602";
}

.icon-yuxue:before {
  content: "\e70a";
}

.icon-weibiaoti518:before {
  content: "\e615";
}

.icon-xue1:before {
  content: "\e611";
}

.icon-yintian:before {
  content: "\e607";
}

.icon-qingtian1:before {
  content: "\e666";
}

.icon-qingtianbaitian:before {
  content: "\e606";
}

.icon-yintian1:before {
  content: "\e60a";
}

.icon-xiayu:before {
  content: "\e79b";
}

.icon-tingzhi:before {
  content: "\e60d";
}

.icon-31fanhui1:before {
  content: "\e600";
}

.icon-qidong:before {
  content: "\e6b0";
}

.icon-tianqi:before {
  content: "\e623";
}

.icon-qingtian:before {
  content: "\e637";
}

.icon-feng:before {
  content: "\e60f";
}

.icon-shezhi:before {
  content: "\e70f";
}

.icon-tianqi-yu:before {
  content: "\e682";
}

.icon-kongtiaofengsu:before {
  content: "\e7ec";
}

.icon-Bird:before {
  content: "\e69e";
}

.icon-Flowertulip:before {
  content: "\e6a0";
}

.icon-Butterfly:before {
  content: "\e6a1";
}

.icon-Leaves:before {
  content: "\e6a2";
}

.icon-Tree:before {
  content: "\e6a4";
}

.icon-Sprout:before {
  content: "\e6a5";
}

.icon-Wheat:before {
  content: "\e6a6";
}

.icon-Flower:before {
  content: "\e6a7";
}

.icon-_feng:before {
  content: "\e650";
}

.icon-xinfeng:before {
  content: "\e660";
}

.icon-yundong:before {
  content: "\e63a";
}

.icon-xiche:before {
  content: "\e669";
}

.icon-clothes:before {
  content: "\e8c7";
}

.icon-qiehuan:before {
  content: "\e628";
}

.icon-Leaf:before {
  content: "\e69f";
}

.icon-Leaf1:before {
  content: "\e6a3";
}

.icon-wendu:before {
  content: "\e89e";
}

.icon-shidu-1:before {
  content: "\e642";
}

.icon-sousuo:before {
  content: "\e60c";
}

.icon-tuichu4:before {
  content: "\e64f";
}

